@import "../../public/sassCore/base";
@import "../../public/sassCore/function";
$img_path:"../../views/brand/images";
@include animate-flipInX;
.brand{
  @each $textpx in 30, 28, 24, 22 {
    .font-#{$textpx} {
      font-size: pxToRem($textpx); 
    }
  }
  .line-height40{
    line-height: pxToRem(40);
  }
  .align-left{
    text-align: left
  }
  .width480{
    width: pxToRem(480);
    margin:0 auto;
  }
  &.en{
    .switch ul li{
      font-size: pxToRem(25);
      margin:  0 pxToRem(9);
    }
  }
  .scroll-wrap{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .switch{
    padding-top:pxToRem(245);
    color: #434343;
    height: 100%; 
    @include box-sizing(border-box);   
    .custom-indicator{
      width: 100%;
      text-align: center;
      display: block;
      li{
        display: inline-block;
        font-size: pxToRem(30);
        line-height: pxToRem(30);
        margin:  0 pxToRem(45);
        font-weight: bold;
        &.cur{
          color:#c30d23;
          text-decoration: underline;
        }
      }
    }
    .switch-content{
      margin-top: pxToRem(58);
      position: relative;
      min-height: pxToRem(360);
      display: block;
      min-height: 100%;
      @include box-sizing(border-box);
      li{
        position: absolute;
        display: block;
        font-size: pxToRem(24);
        text-align: center;
        color: #434343;
        line-height: pxToRem(36);
        width: 100%;
        font-weight: normal;
        margin: 0;        
        .bottom-img{
          margin: pxToRem(50) auto pxToRem(30);
          display: block;
        }        
      }
    }
  }
} 

@include iphone4{
  .brand .bottom-img{
    @include background-size(80%);
    background-position: center bottom;
  }
}