<div class="brand normal-bg">
    <div class="scroll-wrap">
        <div class="switch">
            <ul  class="custom-indicator" data-slides="品牌来源,品牌承诺,品牌信念" >
                <li  ng-repeat="slide in slides"  ng-class="{cur: $index==$parent.carouselIndex}" ng-click="$parent.carouselIndex = $index">
                    {{slide}}
                </li>
            </ul>
            <ul rn-carousel  rn-carousel-index="carouselIndex" rn-carousel-buffered class="switch-content">
                <li>
                    <p>
                    她，源于对神秘丰饶自然的探索<br />
                    她，源于对科学的不断创新<br />
                    她，就是D&X，一个以健康为名、以美丽为宗、<br />
                    以爱和探索为灵魂的品牌。<br />
                    D是Discovery的缩写，X则象征未知、无限、<br />
                    目标和希望，具有广阔多元的意义。<br />
                    DISCOVERY & X 寓意探索与无限可能，探索自然、<br />
                    探索生活、探索未来…<br />
                    …是一种充满希望与积极的生活态度。<br />
                    </p>
                    <img width="100%" class="bottom-img fadeInUpBig" src="views/brand/images/brand-bottom.png">
                </li>
                <li>
                    <p class="line-height40">
                        <span class="font-28">D&X以实现更高品质的生活、更高的人生境界</span><br />
                        <span class="font-28">和更加活力自信的自我为目标</span><br />
                        <br />
                        <span class="font-24">承诺每一个产品都：</span><br />
                        <br />
                        <span class="font-22">天然纯净—每个源头原料都经过严苛筛选最高标准原材料</span><br />
                    </p>    
                    <p class="line-height40">    
                        <span class="font-22">至臻品质—每道工艺都只由最熟练专业的人员把控 最高品质保证</span><br />
                        <span class="font-22">匠心精研—专心研制每个最终传递到消费者手上的产品最真挚-用心</span>
                    </p>
                    <img width="100%" class="bottom-img fadeInUpBig" src="views/brand/images/brand_bottom_1.png">
                </li>
                <li>
                    <p class="line-height40">
                        <b class="font-30">打造最天然的健康美丽生活方式，</b><br />
                        <b class="font-30">是Ｄ＆Ｘ品牌诞生的初衷</b><br />
                        <b class="font-30">我们坚信，“取之自然、馈于自然”才是最好的行为</b><br />
                        <br />
                    </p>
                    <p class="line-height40 align-left width480">    
                        <span class="font-24">•&nbsp;我们悉心发现和提炼自然的精粹，而不刻意</span><br />
                        <span class="font-24">&nbsp;&nbsp;人工添加及制造</span><br />
                        <span class="font-24">•&nbsp;我们尊重时间给予的力量，而不刻意强求、</span><br />
                        <span class="font-24">&nbsp;&nbsp;违背自然的规律</span><br />
                        <span class="font-24">•&nbsp;我们相信自然拥有最完美的配方，而不刻意</span><br />
                        <span class="font-24">&nbsp;&nbsp;破坏天然赋予的成分</span>
                    </p>
                    <img width="100%" class="bottom-img fadeInUpBig" src="views/brand/images/brand_bottom_2.png">
                </li>
            </ul>
        </div>

    </div>
</div>