@import "../sassCore/base";
@import "../sassCore/function";
@import "../sassCore/core/reset";
$img_path:"/public/images";
@include animate-fadeInScale;
@include animate-fadeIn;
@include animate-fadeInRightBig;
@include animate-fadeInUpBig;
@include animate-fadeInUp;
@include animate-fadeInDown;
@include animate-fadeOut;
@include animate-fadeOutRightBig;
html{
  height: 100%;
  overflow: hidden;
}
body {
  width: pxToRem(750);
  position: relative;
  height: 100%;
  margin: 0 auto;
  .nav-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: pxToRem(185);
    &.fadeInDown{
      height: pxToRem(100);
      background-color: rgba(255,255,255,0.5);
      z-index: 10;
      .logo{
        top:pxToRem(0);
        @include transform(scale(0.6))
      }
      .nav{
        top:pxToRem(25);
      }
    }
  }
  .view-content {
    z-index: 1;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .normal-bg{
      width: 100%;
      height: 100%;
      &:before{
        width: 100%;
        height: pxToRem(513);
        content:"";
        position: absolute;
        top: 0;
        z-index: -1;
        background: url("#{$img_path}/normal_bgtop.jpg") no-repeat center top transparent;
        @include background-size(100% auto);
      }
      &:after{
        width: 100%;
        height: pxToRem(426);
        content:"";
        position: absolute;
        z-index: -1;
        bottom: 0;
        background: url("#{$img_path}/normal_bgbottom.jpg") no-repeat center top transparent;
        @include background-size(100% auto);
      }
    }
  }

  .logo {
    width: pxToRem(148);
    height: pxToRem(111);
    position: absolute;
    top: pxToRem(45);
    left: pxToRem(42);
    background: url('#{$img_path}/logo.png') no-repeat center top transparent;
    @include background-size(contain);
    z-index: 99;
  }
  .nav {
    width: pxToRem(64);
    height: pxToRem(60);
    position: absolute;
    z-index: 99;
    top: pxToRem(70);
    right: pxToRem(47);
    background: url("#{$img_path}/icon_menu.png") no-repeat center top transparent;
    @include background-size(contain);
  }
  .nav-content {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    .nav-close {
      width: pxToRem(25);
      height: pxToRem(26);
      position: absolute;
      top: pxToRem(72);
      right: pxToRem(45);
      background: url("#{$img_path}/arrows_remove.png") no-repeat center top transparent;
      @include background-size(contain);
      z-index: 99;
    }
    .nav-list {
      display: block;
      width: pxToRem(520);
      height: 100%;
      padding-top: pxToRem(130);
      background-color: #FFFFFF;
      position: absolute;
      right: 0;
      top: 0;
      $transplateX: pxToRem(2000);
      @include transform(translateX($transplateX));
      opacity: 0;
      visibility: hidden;
      @include box-sizing(border-box);
      ul{
        > li {
          text-align: center;
          padding: pxToRem(58) 0;
          border-bottom: 1px solid #efefef;
          ol{
            margin-top: pxToRem(20);
            height: 0;
            overflow: hidden;
            display: block;
            &.slideDown{
              height: pxToRem(230);
              @include transition(all 0.3s ease);
            }
            li{
              font-size: pxToRem(22);
              line-height: pxToRem(50);
              padding: pxToRem(15) 0;
              a{
                display: block;
              }
              &:last-child{
                padding-bottom: 0;
              }
            }
          }
          &.cur{
            > a{
              color: #c30d23;
              &:before {
                content: "";
                width: pxToRem(12);
                height: pxToRem(25);
                display: block;
                position: absolute;
                left: pxToRem(120);
                top: pxToRem(10);
                background: url("#{$img_path}/icon_arrow.png") no-repeat center top transparent;
                @include background-size(contain);
              }
            }
          }
          &:last-child {
            border: none;
          }
          > a {
            color: #434343;
            font-size: pxToRem(30);
            display: block;
            text-align: center;
            position: relative;
          }
          &.expand > a:before{
            content: "";
            width: pxToRem(12);
            height: pxToRem(25);
            display: block;
            position: absolute;
            left: pxToRem(120);
            top: pxToRem(10);
            background: url("#{$img_path}/icon_arrow.png") no-repeat center top transparent;
            @include background-size(contain);
            @include transition(all 0.3s);
            @include transform(rotate(90deg));
          }
        }
      }

    }
    &.show {
      @include transition(all 0.2s ease);
      background-color: rgba(0, 0, 0, 0.34);
      opacity: 1;
      visibility: visible;
      .nav-list{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.loading{
  width: pxToRem(32);
  height: pxToRem(32);
  position: absolute;
  background: url("#{$img_path}/loading.gif") no-repeat center top transparent;
  @include background-size(contain);
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}
.slide_bottom_img{
  width: pxToRem(382);
  height: pxToRem(24);
  position: absolute;
  bottom: pxToEm(35);
  left: 50%;
  @include transform(translateX(-50%));
  background: url("#{$img_path}/slide_bottom.png") no-repeat center top transparent;
  @include background-size(contain);
}
@include hdpi(2){
   .logo{
      background-image: url('#{$img_path}/logo_2X.png')!important;
   }
}
@include iphone4{
  body .view-content .normal-bg{
    background-size: (100%)!important;
  }
}
@include iphone5{
  body .view-content .normal-bg{
    background-size: (auto 100%)!important;
  }
}
@include hdpi(3){
  @include max-screen(1242px){
    .normal-bg{
      background-size: (110% auto)!important;
    }
  }
}
.mob-con{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: #32373b;
  z-index: 9990;
}
.mob-cen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
}
.mob-cen i{
  margin: auto;
  display: block;
  width: pxToRem(128);
  height: pxToRem(194);
  /*background: url(../images/hengping.png 0 0 no-repeat);*/
  background: url('#{$img_path}/hengping.png');
  background-size: pxToRem(128) pxToRem(194);
  animation: mobileR 1.5s ease infinite alternate;
  -webkit-animation: mobileR 1.5s ease infinite alternate;
}
.mob-cen div{
  font-size: pxToRem(22);
  margin-top: pxToRem(20);
  color: #ffd40a;
}
@keyframes mobileR{
  0% {
    -webkit-transform: rotate(-90deg);
  }
  30% {
    -webkit-transform: rotate(-90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes mobileR{
  0% {
    -webkit-transform: rotate(-90deg);
  }
  30% {
    -webkit-transform: rotate(-90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}


@media screen and (orientation:landscape) {
  .mob-con{
    display: block;
  }
  body{
    width: 100%;
  }
}




