.fadeInUpBig {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

.explore {
  color: #434343; }
.explore .scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
.explore .scroll-wrap h3 {
  font-size: 0.768rem;
  padding-top: 6.18667rem;
  text-align: center;
  font-weight: bold; }
.explore .scroll-wrap p {
  text-align: center;
  font-size: 0.64rem;
  line-height: 1.024rem;
  margin-top: 1.49333rem; }
.explore .scroll-wrap ul {
  display: block;
  margin-top: 2.66667rem;
  padding-bottom: 5.44rem; }
.explore .scroll-wrap ul li:after {
  content: "";
  width: 86%;
  height: 2px;
  background-color: #dfdfdf;
  display: block;
  margin: 0 auto; }
.explore .scroll-wrap ul li img {
  width: 100%; }

.explore-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.98667rem;
  color: #434343; }
.explore-detail .carouselExplore {
  width: 100%;
  height: 100%;
  display: block; }
.explore-detail .carouselExplore li p, .explore-detail .carouselExplore li grid {
  width: 13.01333rem;
  margin: 0 auto;
  text-align: left; }
.explore-detail .carouselExplore li .p1 {
  font-size: 0.55467rem;
  line-height: 0.85333rem;
  margin-top: 0.85333rem;
  color: #434343; }
.explore-detail .carouselExplore li .grid {
  position: absolute;
  bottom: 3.2rem;
  left: 50%;
  border: 2px solid #bebebe;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.17067rem;
  color: #636363; }
.explore-detail .carouselExplore li .grid .wrap {
  border: 2px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.64rem 0.42667rem;
  min-height: 5.01333rem; }
.explore-detail .carouselExplore li .grid .wrap h3 {
  font-size: 0.64rem;
  font-weight: bold; }
.explore-detail .carouselExplore li .grid .wrap h3:after {
  content: "?";
  display: inline-block;
  width: 0.81067rem;
  height: 0.81067rem;
  line-height: 0.81067rem;
  vertical-align: top;
  background-color: #636363;
  margin: 0.21333rem 0 0 0.384rem;
  text-align: center;
  color: #FFFFFF;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
.explore-detail .carouselExplore li .grid .wrap p {
  line-height: 0.64rem;
  font-size: 0.42667rem; }
.explore-detail .custom-indicator {
  width: 100%;
  height: 0.42667rem;
  text-align: center;
  position: absolute;
  bottom: 2.34667rem;
  text-align: center; }
.explore-detail div.rn-carousel-indicator span {
  color: #dfdfdf;
  display: inline-block;
  font-size: 0.53333rem;
  margin: 0 0.21333rem; }
.explore-detail div.rn-carousel-indicator span.active {
  color: #c30d23; }

/*# sourceMappingURL=explore.css.map */
