.prolist .scroll-wrap .search-area .search-open ul:before, .prolist .scroll-wrap .list ul:before, .prolist .scroll-wrap .search-area .search-open ul:after, .prolist .scroll-wrap .list ul:after {
  content: "";
  display: table; }
.prolist .scroll-wrap .search-area .search-open ul:after, .prolist .scroll-wrap .list ul:after {
  clear: both; }

.prolist {
  color: #434343; }
.prolist .scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
.prolist .scroll-wrap .title {
  padding-top: 4.58667rem;
  width: 10.28267rem;
  height: 0.768rem;
  margin: 0 auto; }
.prolist .scroll-wrap .title img {
  width: 100%; }
.prolist .scroll-wrap .description {
  font-size: 0.59733rem;
  text-align: center;
  margin-top: 0.42667rem;
  color: #5b5b5b; }
.prolist .scroll-wrap .search-area {
  margin: 0.85333rem auto 0;
  border: 2px solid #e3e3e3;
  border-left: none;
  border-right: none;
  width: 14.61333rem;
  overflow: hidden; }
.prolist .scroll-wrap .search-area.open .search-close:after {
  content: "-"; }
.prolist .scroll-wrap .search-area.open .search-open {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-bottom: 1.45067rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.prolist .scroll-wrap .search-area .search-close {
  width: 100%;
  height: 2.45333rem;
  line-height: 2.45333rem;
  text-align: center;
  font-size: 0.55467rem;
  color: #434343;
  position: relative; }
.prolist .scroll-wrap .search-area .search-close:after {
  content: "+";
  font-size: 0.64rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0.32rem; }
.prolist .scroll-wrap .search-area .search-open {
  padding-bottom: 0;
  font-size: 0.42667rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden; }
.prolist .scroll-wrap .search-area .search-open ul {
  margin-top: -0.32rem; }
.prolist .scroll-wrap .search-area .search-open li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin: 0.32rem 0; }
.prolist .scroll-wrap .search-area .search-open li.cur {
  color: #c4222f; }
.prolist .scroll-wrap .search-area .search-open .show-all {
  width: 3.94667rem;
  height: 0.85333rem;
  line-height: 0.85333rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #c4222f;
  -webkit-border-radius: 0.21333rem;
  border-radius: 0.21333rem;
  margin: 0.42667rem auto 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.prolist .scroll-wrap .search-area .search-open .show-all.cur {
  color: #c4222f;
  background-color: #FFFFFF;
  border: 1px solid #c4222f; }
.prolist .scroll-wrap .list {
  margin: 0.32rem auto;
  width: 14.61333rem; }
.prolist .scroll-wrap .list li {
  float: left;
  width: 50%;
  text-align: center;
  margin: 0.42667rem 0; }
.prolist .scroll-wrap .list li img {
  width: 4.26667rem;
  display: block;
  margin: 0 auto; }
.prolist .scroll-wrap .list li p {
  text-align: center;
  font-size: 0.55467rem;
  margin-top: 0.21333rem; }

/*# sourceMappingURL=prolist.css.map */
