<div class="prodetail normal-bg">
    <div ng-if="proloading" class="loading"></div>
    <div id="swip" data-page="1" class="wrap"  ng-if="proloaded">
        <div class="page1">
            <div class="img fadeInScale" style="background-image:url(public/images/product/{{pro.img_name}}_bg.png);">
                <img src="public/images/product/{{pro.img_name}}.png" >
            </div>
            <p class="p1">{{pro.specification}}</p>
            <h3>{{pro.pro_name}}</h3>
            <p class="p2">
                {{pro.intro}}
            </p>
        </div>
        <div class="page2">
            <div class="img">
                <img src="public/images/product/{{pro.img_name}}_sub.png" >
            </div>
            <p class="p1">Ingredient</p>
            <h3>{{pro.ingredient}}</h3>
            <p class="p2">
                {{pro.description}}
            </p>
        </div>
        <div class="next-page fadeInUp">
            <img width="100%" src="public/images/arrows_down.png" />
        </div>
    </div>
</div>