<div class="prodetail normal-bg">
    <div id="swip" data-page="1" class="wrap">
        <div class="page1">
            <div class="img fadeInScale" style="background-image:url(public/images/product/manyuemei_bg.png);">
                <img src="public/images/product/manyuemei.png" >
            </div>
            <p class="p1">25000mg 30粒</p>
            <h3>蔓越莓高浓度胶囊</h3>
            <p class="p2">
                清爽怡人的身体清洁露
            </p>
        </div>
        <div class="page2">
            <div class="img">
                <img src="public/images/product/manyuemei_sub.png" >
            </div>
            <p class="p1">成分 \ Ingredient</p>
            <h3>蔓越莓提取物500毫克</h3>
            <p class="p2">
                此亚属的物种均为常绿灌木，主要生长在北半球的凉爽地带酸性泥炭土壤中。花深粉红色，总状花序。红色浆果可做水果食用。蔓越莓是一种天然抗菌保健水果，是防治女性日常泌尿系统各种细菌感染、尿道炎、膀胱炎、慢性肾盂肾炎的最佳自然食疗食品。蔓越莓是为数不多的可以在酸性泥土里生长的农作物，它们需要大量的水。
            </p>
        </div>
        <div class="next-page fadeInUp">
            <img width="100%" src="public/images/arrows_down.png" />
        </div>
    </div>
</div>