<div class="where_shop normal-bg">
    <ul data-slides="0" rn-carousel  rn-carousel-index="carouselIndex" rn-carousel-buffered class="carouselShop">
        <li>
            <h3>Sydney旗舰店</h3>
            <p>
                5 Burrows Rd South,<br />
                St Peters.NSW,<br />
                2044 Australia<br />
                AM8:00-PM15:00
            </p>
            <div class="img">
                <img src="/views/where/images/sydney.jpg" />
            </div>
        </li>
    </ul>
    <div class="custom-indicator"  rn-carousel-indicators ng-if="shopSlide.length > 1" slides="shopSlide" rn-carousel-index="carouselIndex"></div>
    <div  ng-if="shopSlide.length > 1" class="slide_bottom_img"></div>
</div>