<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 适应移动端end -->
  <title>D&X</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="public/app.css">
</head>
<body>
    <div class="nav-bg">
      <a href="/index_en.html#/home_en" title="DX" class="logo"></a>
      <div class="nav" ng-click="showNav()"></div>
    </div>
    <div class="nav-content" >
      <div class="nav-list">
        <div class="nav-close" ng-click="closeNav()"></div>
        <ul>
          <li class="brand-expand">
            <a ng-click="start()" id="brand_toggle" href="javascript:void(0);">Brand</a>
            <ol class="sub-nav">
              <li><a href="/index_en.html#/brand_en?index=0">Brand Origin</a></li>
              <li><a href="/index_en.html#/brand_en?index=1">Brand Commitment</a></li>
              <li><a href="/index_en.html#/brand_en?index=2">Brand Belief</a></li>
            </ol>
          </li>
          <li><a ng-click="start()" href="/index_en.html#/prolist_en?section=baojianpin">Our Product</a></li>
          <li><a ng-click="start()" href="/index_en.html#/where_en">Journey</a></li>
          <li><a ng-click="start()" href="/index_en.html#/explore_en">Exploring Nature</a></li>
        </ul>
      </div>


  </div>
  <div ng-view class="view-content fadeIn"></div>
  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!-- 竖屏提示 -->
  <div id="MoblileR" class="mob-con">
    <div class="mob-cen">
      <i></i>
      <div>In order to better experience, please stand up the phone / tablet</div>
    </div>
  </div>
  <script type="text/javascript" src="public/js/lib.js"></script>
  <script src="app_en.js"></script>
  <script type="text/javascript" src="public/js/ctrl-concat.js"></script>
  <script type="text/javascript" src="components/version/version.js"></script>
  <script type="text/javascript" src="components/version/version-directive.js"></script>
  <script type="text/javascript" src="components/version/interpolate-filter.js"></script>
</body>
</html>
