@import "../../public/sassCore/base";
@import "../../public/sassCore/function";
$img_path:"../../views/home/images";
.index-page{
  width: 100%;
  height: 100%;
  background: url("#{$img_path}/index_bg.jpg") no-repeat center top transparent;
  @include background-size(auto 100%);
  .title-img{
    position: absolute;
    width: pxToRem(679);
    height: pxToRem(352);
    top: pxToRem(365);
    left: pxToRem(55);
  }
}
.bottom{
  width: 100%;
  height: pxToRem(500);
  @include gradient-vertical(rgba(255,255,255,0) 20%, rgba(0,0,0,0.9));
  position: absolute;
  bottom: 0;
  .rn-carousel-control-prev{
    width: pxToRem(75);
    height: pxToRem(107);
    position: absolute;
    left: 0;
    top:pxToRem(222);
    display: block;
    z-index: 99;
    &:before{
      content: "";
      display: block;
      width: pxToRem(24);
      height: pxToRem(47);
      position: absolute;
      left: pxToRem(24);
      top:pxToRem(30);
      background: url("#{$img_path}/arrows_left.png") no-repeat center top transparent;
      @include background-size(contain);
    }
  }
  .rn-carousel-control-next{
    width: pxToRem(75);
    height: pxToRem(107);
    position: absolute;
    right: 0;
    top:pxToRem(222);
    display: block;
    z-index: 99;
    &:before{
      content: "";
      display: block;
      width: pxToRem(24);
      height: pxToRem(47);
      position: absolute;
      right: pxToRem(24);
      top:pxToRem(30);
      background: url("#{$img_path}/arrows_right.png") no-repeat center top transparent;
      @include background-size(contain);
    }
  }
  >ul{
    height: pxToRem(214);
    margin: pxToRem(175) auto pxToRem(50);
    li{
      width: 100%;
      position: absolute;
      a{
        width:pxToRem(508);
        display: block;
        margin: 0 auto;
        img{width: 100%;}
      }
    }
  }
  p{
    font-size: pxToRem(14);
    line-height: pxToRem(24);
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    a{
      margin: 0 pxToRem(24);
      color: #FFFFFF;
    }
  }
}
.contact-us{
  @include box-sizing(border-box);
  padding-top: pxToRem(330);
  img{
    width: 100%;
  }
}
@include iphone4{
  .view-content .index-page{
    background-size: (100%);
  }
}
@include iphone5{
  body .view-content .index-page{
    background-size: (auto 100%);
  }
}
@include hdpi(1){
  @include max-screen(1080px){
    .index-page{
      background-size: (120%);
    }
  }
}
