<div class="index-page fadeInScale" >
    <div class="title-img ">
        <img width="100%" src="/views/home/images/word_en.png" />
    </div>
</div>
<div class="bottom">
    <ul rn-carousel rn-carousel-index="0" rn-carousel-controls class="image">
        <li>
            <a href="#/prolist_en?section=baojianpin">
                <img src="/views/home/images/index_en_pro1.png" >
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <img  src="/views/home/images/index_en_pro2.png" >
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <img src="/views/home/images/index_en_pro3.png" >
            </a>
        </li>
    </ul>
    <p class="p1">
        <a href="/index.html">中文</a>|<a href="/index_en.html#/home_en">ENGLISH</a>
    </p>
    <p class="p2"> © All copyrihgts reserved by D&X PTY LTD </p>
</div>