<div class="index-page fadeInScale" >
    <div class="title-img ">
        <img width="100%" src="/views/home/images/word.png" />
    </div>
</div>
<div class="bottom">
    <ul rn-carousel rn-carousel-index="1" rn-carousel-controls class="image">
        <li>
            <a href="###">
                <img src="/views/home/images/index_pro1.png" >
            </a>
        </li>
        <li>
            <a href="###">
                <img  src="/views/home/images/index_pro2.png" >
            </a>
        </li>
        <li>
            <a href="###">
                <img src="/views/home/images/index_pro3.png" >
            </a>
        </li>
    </ul>
    <p class="p1">
        <a href="###">中文</a>|<a href="###">ENGLISH</a>|<a>D&X电脑完整版网站</a>
    </p>
    <p class="p2"> © All copyrihgts reserved by D&X PTY LTD　 沪ICP备12004928号-4</p>
</div>