<div class="normal-bg prolist">
    <div class="scroll-wrap">
        <div class="title">
            <img src="views/prolist/images/healthproducts.png" >
        </div>
        <!--<p class="description">全面多样的保健产品品种</p>-->
        <!--<section class="search-area">
            <div class="search-close">
                点击可检索产品
            </div>
            <div class="search-open">
                <ul>
                    <li ng-repeat="category in categories" ng-click="search(category)">
                        {{category}}
                    </li>
                </ul>
                <div class="show-all" ng-click="searchall()">显示全部产品</div>
            </div>
        </section>-->
        <div class="list">
            <ul>
                <li ng-repeat="(pro_detail_key,pro_detail_value) in newlistpro">
                    <a href="#/prodetail?seciton={{section}}&category={{pro_detail_value.category}}&name={{pro_detail_value.prokey}}">
                        <img src="public/images/product/{{pro_detail_value.img_name}}.png" />
                        <p>{{pro_detail_value.pro_name}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
