<div class="normal-bg prolist">
    <div class="scroll-wrap">
        <div class="title">
            <img src="views/prolist/images/healthproducts.png" >
        </div>
        <p class="description">全面多样的保健产品品种</p>
        <section class="search-area">
            <div class="search-close">
                点击可检索产品
            </div>
            <div class="search-open">
                <ul>
                    <li>男性健康滋补</li>
                    <li>女性健康美容</li>
                    <li>综合健康护理</li>
                    <li>舒缓调理</li>
                </ul>
                <div class="show-all">显示全部产品</div>
            </div>
        </section>
        <div class="list">
            <ul>
                <li>
                    <a href="#/prodetail">
                        <img src="public/images/product/manyuemei.png" />
                        <p>蔓越莓高浓度胶囊</p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="public/images/product/manyuemei.png" />
                        <p>蔓越莓高浓度胶囊</p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="public/images/product/manyuemei.png" />
                        <p>蔓越莓高浓度胶囊</p>
                    </a>
                </li>
                <li>
                    <a href="###">
                        <img src="public/images/product/manyuemei.png" />
                        <p>蔓越莓高浓度胶囊</p>
                    </a>
                </li><li>
                <a href="###">
                    <img src="public/images/product/manyuemei.png" />
                    <p>蔓越莓高浓度胶囊</p>
                </a>
            </li>
                <li>
                    <a href="###">
                        <img src="public/images/product/manyuemei.png" />
                        <p>蔓越莓高浓度胶囊</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
