/** 
 * @Description: DX 
 * @author: songxiaoqiang 
 * @Update: 2016-03-27 20:03 
 */ 

#loading-bar,#loading-bar-spinner{pointer-events:none;-webkit-pointer-events:none;-webkit-transition:350ms linear all;-moz-transition:350ms linear all;-o-transition:350ms linear all;transition:350ms linear all}#loading-bar-spinner.ng-enter,#loading-bar-spinner.ng-leave.ng-leave-active,#loading-bar.ng-enter,#loading-bar.ng-leave.ng-leave-active{opacity:0}#loading-bar-spinner.ng-enter.ng-enter-active,#loading-bar-spinner.ng-leave,#loading-bar.ng-enter.ng-enter-active,#loading-bar.ng-leave{opacity:1}#loading-bar .bar{-webkit-transition:width 350ms;-moz-transition:width 350ms;-o-transition:width 350ms;transition:width 350ms;background:#29d;position:fixed;z-index:10002;top:0;left:0;width:100%;height:2px;border-bottom-right-radius:1px;border-top-right-radius:1px}#loading-bar .peg{position:absolute;width:70px;right:0;top:0;height:2px;opacity:.45;-moz-box-shadow:#29d 1px 0 6px 1px;-ms-box-shadow:#29d 1px 0 6px 1px;-webkit-box-shadow:#29d 1px 0 6px 1px;box-shadow:#29d 1px 0 6px 1px;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%}#loading-bar-spinner{display:block;position:fixed;z-index:10002;top:10px;left:10px}#loading-bar-spinner .spinner-icon{width:14px;height:14px;border:2px solid transparent;border-top-color:#29d;border-left-color:#29d;border-radius:50%;-webkit-animation:loading-bar-spinner 400ms linear infinite;-moz-animation:loading-bar-spinner 400ms linear infinite;-ms-animation:loading-bar-spinner 400ms linear infinite;-o-animation:loading-bar-spinner 400ms linear infinite;animation:loading-bar-spinner 400ms linear infinite}@-webkit-keyframes loading-bar-spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes loading-bar-spinner{0%{-moz-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes loading-bar-spinner{0%{-o-transform:rotate(0);transform:rotate(0)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes loading-bar-spinner{0%{-ms-transform:rotate(0);transform:rotate(0)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loading-bar-spinner{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
input[type=range]{width:300px}ul[rn-carousel]{overflow:hidden;padding:0;white-space:nowrap;position:relative;-webkit-perspective:1000px;-ms-perspective:1000px;perspective:1000px;-ms-touch-action:pan-y;touch-action:pan-y}ul[rn-carousel]>li{color:#000;-webkit-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;overflow:visible;vertical-align:top;position:absolute;left:0;right:0;white-space:normal;padding:0;margin:0;list-style-type:none;width:100%;height:100%;display:inline-block}ul[rn-carousel-buffered]>li{display:none}ul[rn-carousel-transition=hexagon]{overflow:visible}div.rn-carousel-indicator span{cursor:pointer;color:#666}div.rn-carousel-indicator span.active{color:#fff}.rn-carousel-control{-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out;font-size:2rem;position:absolute;top:40%;opacity:.75;cursor:pointer}.rn-carousel-control:hover{opacity:1}.rn-carousel-control.rn-carousel-control-prev{left:.5em}.rn-carousel-control.rn-carousel-control-prev:before{content:"<"}.rn-carousel-control.rn-carousel-control-next{right:.5em}.rn-carousel-control.rn-carousel-control-next:before{content:">"}
.fadeIn, .fadeInRightBig, .fadeInUpBig, .fadeInUp, .fadeInDown, .fadeOut, .fadeOutRightBig {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
  font-size: 40px; }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 1.4rem;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #444;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #444; }
a:active, a:hover {
  outline: 0;
  /* 2 */ }
a:hover {
  color: #2b2b2b; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html, button, input, select, textarea {
  font-family: "Microsoft Yahei", "SimHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 2.1rem; }

h2 {
  font-size: 1.82rem; }

h3 {
  font-size: 1.638rem; }

h4 {
  font-size: 1.4rem; }

h5, h6 {
  font-size: 1.19rem;
  text-transform: uppercase; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ccc; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc; }

@-webkit-keyframes fadeInScale {
  0% {
    -webkit-transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes fadeInScale {
  0% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
.fadeInScale {
  -webkit-animation-name: fadeInScale;
  animation-name: fadeInScale;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px); } }
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(2000px); } }
.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig; }

html {
  height: 100%;
  overflow: hidden; }

body {
  width: 16rem;
  position: relative;
  height: 100%;
  margin: 0 auto; }
body .nav-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.94667rem; }
body .nav-bg.fadeInDown {
  height: 2.13333rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10; }
body .nav-bg.fadeInDown .logo {
  top: 0rem;
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }
body .nav-bg.fadeInDown .nav {
  top: 0.53333rem; }
body .view-content {
  z-index: 1;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
body .view-content .normal-bg {
  width: 100%;
  height: 100%; }
body .view-content .normal-bg:before {
  width: 100%;
  height: 10.944rem;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  background: url("/public/images/normal_bgtop.jpg") no-repeat center top transparent;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }
body .view-content .normal-bg:after {
  width: 100%;
  height: 9.088rem;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: url("/public/images/normal_bgbottom.jpg") no-repeat center top transparent;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }
body .logo {
  width: 3.15733rem;
  height: 2.368rem;
  position: absolute;
  top: 0.96rem;
  left: 0.896rem;
  background: url("/public/images/logo.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: 99; }
body .nav {
  width: 1.36533rem;
  height: 1.28rem;
  position: absolute;
  z-index: 99;
  top: 1.49333rem;
  right: 1.00267rem;
  background: url("/public/images/icon_menu.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }
body .nav-content {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden; }
body .nav-content .nav-close {
  width: 0.53333rem;
  height: 0.55467rem;
  position: absolute;
  top: 1.536rem;
  right: 0.96rem;
  background: url("/public/images/arrows_remove.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: 99; }
body .nav-content .nav-list {
  display: block;
  width: 11.09333rem;
  height: 100%;
  padding-top: 2.77333rem;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(42.66667rem);
  transform: translateX(42.66667rem);
  opacity: 0;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
body .nav-content .nav-list ul > li {
  text-align: center;
  padding: 1.23733rem 0;
  border-bottom: 1px solid #efefef; }
body .nav-content .nav-list ul > li ol {
  margin-top: 0.42667rem;
  height: 0;
  overflow: hidden;
  display: block; }
body .nav-content .nav-list ul > li ol.slideDown {
  height: 4.90667rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body .nav-content .nav-list ul > li ol li {
  font-size: 0.46933rem;
  line-height: 1.06667rem;
  padding: 0.32rem 0; }
body .nav-content .nav-list ul > li ol li a {
  display: block; }
body .nav-content .nav-list ul > li ol li:last-child {
  padding-bottom: 0; }
body .nav-content .nav-list ul > li.cur > a {
  color: #c30d23; }
body .nav-content .nav-list ul > li.cur > a:before {
  content: "";
  width: 0.256rem;
  height: 0.53333rem;
  display: block;
  position: absolute;
  left: 2.56rem;
  top: 0.21333rem;
  background: url("/public/images/icon_arrow.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }
body .nav-content .nav-list ul > li:last-child {
  border: none; }
body .nav-content .nav-list ul > li > a {
  color: #434343;
  font-size: 0.64rem;
  display: block;
  text-align: center;
  position: relative; }
body .nav-content .nav-list ul > li.expand > a:before {
  content: "";
  width: 0.256rem;
  height: 0.53333rem;
  display: block;
  position: absolute;
  left: 2.56rem;
  top: 0.21333rem;
  background: url("/public/images/icon_arrow.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
body .nav-content.show {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: rgba(0, 0, 0, 0.34);
  opacity: 1;
  visibility: visible; }
body .nav-content.show .nav-list {
  opacity: 1;
  visibility: visible; }

.slide_bottom_img {
  width: 8.14933rem;
  height: 0.512rem;
  position: absolute;
  bottom: 2.1875em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("/public/images/slide_bottom.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background-image: url("/public/images/logo_2X.png") !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  body .view-content .normal-bg {
    background-size: 100% !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  body .view-content .normal-bg {
    background-size: auto 100% !important; } }
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width: 1242px), only screen and (min--moz-device-pixel-ratio: 3) and (max-width: 1242px), only screen and (-o-min-device-pixel-ratio: 3 / 1) and (max-width: 1242px), only screen and (min-resolution: 288dpi) and (max-width: 1242px), only screen and (min-resolution: 3dppx) and (max-width: 1242px) {
  .normal-bg {
    background-size: 110% auto !important; } }
.mob-con {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: #32373b;
  z-index: 9990; }

.mob-cen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; }

.mob-cen i {
  margin: auto;
  display: block;
  width: 2.73067rem;
  height: 4.13867rem;
  /*background: url(../images/hengping.png 0 0 no-repeat);*/
  background: url("/public/images/hengping.png");
  background-size: 2.73067rem 4.13867rem;
  animation: mobileR 1.5s ease infinite alternate;
  -webkit-animation: mobileR 1.5s ease infinite alternate; }

.mob-cen div {
  font-size: 0.46933rem;
  margin-top: 0.42667rem;
  color: #ffd40a; }

@keyframes mobileR {
  0% {
    -webkit-transform: rotate(-90deg); }
  30% {
    -webkit-transform: rotate(-90deg); }
  70% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes mobileR {
  0% {
    -webkit-transform: rotate(-90deg); }
  30% {
    -webkit-transform: rotate(-90deg); }
  70% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@media screen and (orientation: landscape) {
  .mob-con {
    display: block; }

  body {
    width: 100%; } }

/*# sourceMappingURL=common.css.map */

.index-page {
  width: 100%;
  height: 100%;
  background: url("../../views/home/images/index_bg.jpg") no-repeat center top transparent;
  -webkit-background-size: auto 100%;
  background-size: auto 100%; }
.index-page .title-img {
  position: absolute;
  width: 14.48533rem;
  height: 7.50933rem;
  top: 7.78667rem;
  left: 1.17333rem; }

.bottom {
  width: 100%;
  height: 10.66667rem;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.9));
  position: absolute;
  bottom: 0; }
.bottom .rn-carousel-control-prev {
  width: 1.6rem;
  height: 2.28267rem;
  position: absolute;
  left: 0;
  top: 4.736rem;
  display: block;
  z-index: 99; }
.bottom .rn-carousel-control-prev:before {
  content: "";
  display: block;
  width: 0.512rem;
  height: 1.00267rem;
  position: absolute;
  left: 0.512rem;
  top: 0.64rem;
  background: url("../../views/home/images/arrows_left.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }
.bottom .rn-carousel-control-next {
  width: 1.6rem;
  height: 2.28267rem;
  position: absolute;
  right: 0;
  top: 4.736rem;
  display: block;
  z-index: 99; }
.bottom .rn-carousel-control-next:before {
  content: "";
  display: block;
  width: 0.512rem;
  height: 1.00267rem;
  position: absolute;
  right: 0.512rem;
  top: 0.64rem;
  background: url("../../views/home/images/arrows_right.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }
.bottom > ul {
  height: 4.56533rem;
  margin: 3.73333rem auto 1.06667rem; }
.bottom > ul li {
  width: 100%;
  position: absolute; }
.bottom > ul li a {
  width: 10.83733rem;
  display: block;
  margin: 0 auto; }
.bottom > ul li a img {
  width: 100%; }
.bottom p {
  font-size: 0.29867rem;
  line-height: 0.512rem;
  text-align: center;
  color: #FFFFFF; }
.bottom p a {
  margin: 0 0.512rem;
  color: #FFFFFF; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  .view-content .index-page {
    background-size: 100%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  body .view-content .index-page {
    background-size: auto 100%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1080px), only screen and (min--moz-device-pixel-ratio: 1) and (max-width: 1080px), only screen and (-o-min-device-pixel-ratio: 1 / 1) and (max-width: 1080px), only screen and (min-resolution: 96dpi) and (max-width: 1080px), only screen and (min-resolution: 1dppx) and (max-width: 1080px) {
  .index-page {
    background-size: 120%; } }

/*# sourceMappingURL=home.css.map */

.flipInX {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg); }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg); }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0; }
  40% {
    transform: perspective(400px) rotateX(-10deg); }
  70% {
    transform: perspective(400px) rotateX(10deg); }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1; } }
.flipInX {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-backface-visibility: visible;
  backface-visibility: visible; }

.brand.en .switch ul li {
  font-size: 0.53333rem;
  margin: 0 0.192rem; }
.brand .scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
.brand .switch {
  padding-top: 5.22667rem;
  color: #434343; }
.brand .switch ul {
  width: 100%;
  text-align: center;
  display: block; }
.brand .switch ul li {
  display: inline-block;
  font-size: 0.64rem;
  line-height: 0.64rem;
  margin: 0 0.96rem;
  font-weight: bold; }
.brand .switch ul li.cur {
  color: #c30d23;
  text-decoration: underline; }
.brand .switch .switch-content {
  margin-top: 1.23733rem;
  position: relative;
  min-height: 7.68rem;
  display: block; }
.brand .switch .switch-content li {
  position: absolute;
  display: block;
  top: 0;
  font-size: 0.512rem;
  text-align: center;
  color: #434343;
  line-height: 0.768rem;
  width: 100%;
  font-weight: normal;
  margin: 0; }
.brand .bottom-img {
  width: 16rem;
  height: 9.87733rem;
  margin-top: 1.06667rem;
  background: url("../../views/brand/images/brand-bottom.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) {
  .brand .bottom-img {
    -webkit-background-size: 80%;
    background-size: 80%;
    background-position: center bottom; } }

/*# sourceMappingURL=brand.css.map */

.where {
  color: #434343;
  position: relative; }
.where h3 {
  font-size: 0.768rem;
  padding-top: 4.90667rem;
  text-align: center;
  font-weight: bold; }
.where p {
  font-size: 0.64rem;
  line-height: 1.024rem;
  text-align: center; }
.where .map {
  width: 16rem;
  height: 13.76rem;
  position: absolute;
  top: 8.96rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../../views/where/images/map.png") no-repeat center center transparent;
  -webkit-background-size: contain;
  background-size: contain; }
.where .map .sydney {
  width: 4.544rem;
  height: 2.06933rem;
  position: absolute;
  right: 0.32rem;
  top: 7.89333rem;
  background: url("../../views/where/images/sydney.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }
.where .map .melbourne {
  width: 4.97067rem;
  height: 1.6rem;
  position: absolute;
  right: 4.18133rem;
  top: 10.77333rem;
  background: url("../../views/where/images/melbourne.png") no-repeat center top transparent;
  -webkit-background-size: contain;
  background-size: contain; }

.where_shop {
  color: #434343;
  padding-top: 5.056rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.where_shop .carouselShop {
  width: 16rem;
  max-height: 16rem;
  height: 100%;
  display: block; }
.where_shop .carouselShop h3 {
  font-size: 0.768rem;
  text-align: center;
  font-weight: bold; }
.where_shop .carouselShop p {
  font-size: 0.512rem;
  line-height: 0.768rem;
  text-align: center; }
.where_shop .carouselShop .img {
  width: 14.63467rem;
  max-height: 8.68267rem;
  margin: 1.49333rem auto 0; }
.where_shop .carouselShop .img img {
  width: 100%; }
.where_shop div.rn-carousel-indicator span {
  color: #dfdfdf;
  display: inline-block;
  font-size: 0.53333rem;
  margin: 0 0.21333rem; }
.where_shop div.rn-carousel-indicator span.active {
  color: #c30d23; }
.where_shop .custom-indicator {
  width: 100%;
  height: 0.42667rem;
  text-align: center;
  position: absolute;
  bottom: 2.34667rem;
  text-align: center; }

/*# sourceMappingURL=where.css.map */

.fadeInUpBig {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig; }

.explore {
  color: #434343; }
.explore .scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
.explore .scroll-wrap h3 {
  font-size: 0.768rem;
  padding-top: 6.18667rem;
  text-align: center;
  font-weight: bold; }
.explore .scroll-wrap p {
  text-align: center;
  font-size: 0.64rem;
  line-height: 1.024rem;
  margin-top: 1.49333rem; }
.explore .scroll-wrap ul {
  display: block;
  margin-top: 2.66667rem;
  padding-bottom: 5.44rem; }
.explore .scroll-wrap ul li:after {
  content: "";
  width: 96%;
  height: 2px;
  background-color: #dfdfdf;
  display: block;
  margin: 0 auto; }
.explore .scroll-wrap ul li img {
  width: 100%; }

.explore-detail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4.01067rem; }
.explore-detail .carouselExplore {
  width: 100%;
  height: 100%;
  display: block; }
.explore-detail .custom-indicator {
  width: 100%;
  height: 0.42667rem;
  text-align: center;
  position: absolute;
  bottom: 2.34667rem;
  text-align: center; }
.explore-detail div.rn-carousel-indicator span {
  color: #dfdfdf;
  display: inline-block;
  font-size: 0.53333rem;
  margin: 0 0.21333rem; }
.explore-detail div.rn-carousel-indicator span.active {
  color: #c30d23; }

/*# sourceMappingURL=explore.css.map */

.prolist .scroll-wrap .search-area .search-open ul:before, .prolist .scroll-wrap .list ul:before, .prolist .scroll-wrap .search-area .search-open ul:after, .prolist .scroll-wrap .list ul:after {
  content: "";
  display: table; }
.prolist .scroll-wrap .search-area .search-open ul:after, .prolist .scroll-wrap .list ul:after {
  clear: both; }

.prolist {
  color: #434343; }
.prolist .scroll-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
.prolist .scroll-wrap .title {
  padding-top: 4.58667rem;
  width: 10.28267rem;
  height: 0.768rem;
  margin: 0 auto; }
.prolist .scroll-wrap .title img {
  width: 100%; }
.prolist .scroll-wrap .description {
  font-size: 0.59733rem;
  text-align: center;
  margin-top: 0.42667rem;
  color: #5b5b5b; }
.prolist .scroll-wrap .search-area {
  margin: 0.85333rem auto 0;
  border: 2px solid #e3e3e3;
  border-left: none;
  border-right: none;
  width: 14.61333rem;
  overflow: hidden; }
.prolist .scroll-wrap .search-area.open .search-close:after {
  content: "-"; }
.prolist .scroll-wrap .search-area.open .search-open {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding-bottom: 1.45067rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.prolist .scroll-wrap .search-area .search-close {
  width: 100%;
  height: 2.45333rem;
  line-height: 2.45333rem;
  text-align: center;
  font-size: 0.55467rem;
  color: #434343;
  position: relative; }
.prolist .scroll-wrap .search-area .search-close:after {
  content: "+";
  font-size: 0.64rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0.32rem; }
.prolist .scroll-wrap .search-area .search-open {
  padding-bottom: 0;
  font-size: 0.42667rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden; }
.prolist .scroll-wrap .search-area .search-open ul {
  margin-top: -0.32rem; }
.prolist .scroll-wrap .search-area .search-open li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin: 0.32rem 0; }
.prolist .scroll-wrap .search-area .search-open li.cur {
  color: #c4222f; }
.prolist .scroll-wrap .search-area .search-open .show-all {
  width: 3.94667rem;
  height: 0.85333rem;
  line-height: 0.85333rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #c4222f;
  -webkit-border-radius: 0.21333rem;
  border-radius: 0.21333rem;
  margin: 0.42667rem auto 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.prolist .scroll-wrap .search-area .search-open .show-all.cur {
  color: #c4222f;
  background-color: #FFFFFF;
  border: 1px solid #c4222f; }
.prolist .scroll-wrap .list {
  margin: 0.32rem auto;
  width: 14.61333rem; }
.prolist .scroll-wrap .list li {
  float: left;
  width: 50%;
  text-align: center;
  margin: 0.42667rem 0; }
.prolist .scroll-wrap .list li img {
  width: 4.26667rem;
  display: block;
  margin: 0 auto; }
.prolist .scroll-wrap .list li p {
  text-align: center;
  font-size: 0.55467rem;
  margin-top: 0.21333rem; }

/*# sourceMappingURL=prolist.css.map */

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  color: #434343;
  overflow: hidden; }
.wrap .page1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4.58667rem;
  margin-bottom: 0.42667rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.wrap .page1 .img {
  width: 16rem;
  height: 12.58667rem;
  margin: 0 auto 0.64rem;
  background-position: -1.06667rem bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-background-size: 120%;
  background-size: 120%;
  position: relative; }
.wrap .page1 .img img {
  padding-top: 0.32rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 12.37333rem; }
.wrap .page1 h3 {
  text-align: center;
  font-size: 0.768rem;
  font-weight: bold; }
.wrap .page1 p {
  font-size: 0.512rem;
  text-align: center; }
.wrap .page2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5.12rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.wrap .page2 .img {
  width: 8.27733rem;
  height: 8.27733rem;
  margin: 0 auto; }
.wrap .page2 .img img {
  width: 100%;
  display: block;
  margin: 0 auto; }
.wrap .page2 h3 {
  font-size: 0.64rem;
  color: #c30d23;
  font-weight: bold;
  text-align: center; }
.wrap .page2 p {
  margin: 0.42667rem auto;
  color: #636363;
  text-align: center;
  width: 13.12rem; }
.wrap[data-page='1'] .page1 {
  -webkit-transform: translateY(0);
  transform: translateY(0); }
.wrap[data-page='1'] .page2 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }
.wrap[data-page='2'] .next-page {
  visibility: hidden; }
.wrap[data-page='2'] .page1 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }
.wrap[data-page='2'] .page2 {
  -webkit-transform: translateY(0);
  transform: translateY(0); }
.wrap .next-page {
  visibility: visible;
  width: 1.68533rem;
  height: 0.87467rem;
  position: absolute;
  bottom: 0.74667rem;
  left: 7.14667rem;
  -webkit-animation: blink 3s linear 0s infinite normal;
  animation: blink 3s linear 0s infinite normal; }

@-webkit-keyframes blink {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0rem); }
  50% {
    opacity: 0.1;
    -webkit-transform: translateY(0.53333rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem); } }
@keyframes blink {
  0% {
    opacity: 1;
    transform: translateY(0rem); }
  50% {
    opacity: 0.1;
    transform: translateY(0.53333rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

/*# sourceMappingURL=prodetail.css.map */
