<div class="explore-detail normal-bg">
    <ul rn-carousel data-slides="0,1,3,4"  rn-carousel-index="carouselIndex" rn-carousel-buffered class="carouselExplore">
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_1_en.png" >
            <p class="p1">
            Cranberries are tiny red berries rich in nutrients.
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">Cranberries are a naturally antibacterial fruit and offer health benefits to women by preventing urinary tract infections.  In addition, cranberries are a rich source of Vitamin C and antioxidants, and other properties helping to maintain good general health.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_2_en.png" >
            <p class="p1">
            Deep sea fish oil originates from the deep sea fish where there is little or no pollution and is extracted as an unsaturated fat from fish.
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">Rich in nutrients such as Omega-3 fatty acids, DHA and EPA, deep sea fish oil can improve blood circulation, maintain blood pressure, prevent Alzheimer's disease and enhance memory. It also has some beneficial effects on treating migraines.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_3_en.png" >
            <p class="p1">
            The evening primrose is regarded as the most important nutraceutical discovery of the century. 
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">The evening primrose is known as the “Royal Imperial Medicine” and as the “King’s Medicine” in Europe. Its main component R- linolenic acid also known as Vitamin F, which may lowerblood cholesterol levels and nourish skin cells giving a youthful appearance.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_4_en.png" >
            <p class="p1">
            The Australian kangaroo is highly regarded for its vigour and fertility. The high quality kangaroo essence is extracted from the adult male Australian kangaroo muscles and genital tissues. 
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">Kangaroo essence can help restore and improve immune cell activity and other biological factors, thereby enhancing body balance. Furthermore, polysaccharide peptides extracted from kangaroos may also enhance human kidney cell vitality and physical strength, as well as improving disease resistance.</p>
                </div>                
            </div>
        </li>
    </ul>
    <div class="custom-indicator"  rn-carousel-indicators ng-if="exploreSlide.length > 1" slides="exploreSlide" rn-carousel-index="carouselIndex"></div>
    <div class="slide_bottom_img" ng-if="exploreSlide.length > 1"></div>
</div>