<div class="explore-detail normal-bg">
    <ul rn-carousel data-slides="0,1,3,4"  rn-carousel-index="carouselIndex" rn-carousel-buffered class="carouselExplore">
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_1.png" >
            <p class="p1">
            一颗小小红苺果，富含大大营养源，她就是蔓越莓。她品起来酸酸的，富含水果中不可或缺的维生素C等许多种荣登蔬果界中含量最高宝座的营养素，对人体健康有着多方面的益处。
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>你知道吗</h3>
                    <p class="p2">蔓越莓是一种天然抗菌保健水果，是防治女性日常泌尿系统各种细菌感染的最佳自然食疗食品。除此之外，蔓越莓富含维生素C、类黄酮素等抗氧化物质及丰富果胶，还可有效养颜美容、改善便秘，帮助排出体内毒素及多余脂肪哦！</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_2.png" >
            <p class="p1">
            无腥深海鱼油，口感无腥味、入口清新。她来自于近乎零污染的深海，是从深海鱼类动物体中提炼出来的不饱和脂肪成分，她就是深海鱼油，是明目益智的佳品，对心脏、大脑、关节和眼睛的健康特别有益。
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>你知道吗</h3>
                    <p class="p2">深海鱼油富含omega-3脂肪酸、DHA和EPA等营养物质，可有效改善血液循环系统、维持良好的血压，预防老年痴呆症、改善记忆力，对偏头痛也有一定的效果哦。</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_3.png" >
            <p class="p1">
            她被称为本世纪发现的最重要的营养药物，她就是月见草。月见草可用于治疗多种疾病，可调节血液中类脂物质，对高胆固醇、高血脂引起的冠状动脉梗塞、粥样硬化及脑血栓等症有显著疗效。
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>你知道吗</h3>
                    <p class="p2">月见草在欧洲被称为“皇室御药”“国王药物”，其主要功效成分R-亚麻酸又被称为维生素F，有防止胆固醇沉积以及美白肌肤的作用哦！</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_4.png" >
            <p class="p1">
            澳洲盛产且独有，富含天然雄性荷尔蒙，具有补肾强精，益气提神之功效，他就是盛誉满满的袋鼠精。澳洲袋鼠以其精力旺盛及繁殖力极强而著称于世，优质的袋鼠精也正是提取自澳洲野生成年雄性袋鼠的肌肉及生殖器组织中。
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>你知道吗</h3>
                    <p class="p2">袋鼠精可以帮助恢复和提高免疫细胞和生物因子的活性，有效改善肌体平衡；不仅如此，从袋鼠身上提取的多糖肽还可以启动人的肾细胞活力，对增强人体体力和自身的防病抗病能力大有裨益！</p>
                </div>                
            </div>
        </li>
    </ul>
    <div class="custom-indicator"  rn-carousel-indicators ng-if="exploreSlide.length > 1" slides="exploreSlide" rn-carousel-index="carouselIndex"></div>
    <div class="slide_bottom_img" ng-if="exploreSlide.length > 1"></div>
</div>