<div class="explore-detail normal-bg">
    <ul rn-carousel data-slides="0,1"  rn-carousel-index="carouselIndex" rn-carousel-buffered class="carouselExplore">
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_01.png" >
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_01.png" >
        </li>
    </ul>
    <div class="custom-indicator"  rn-carousel-indicators ng-if="exploreSlide.length > 1" slides="exploreSlide" rn-carousel-index="carouselIndex"></div>
    <div class="slide_bottom_img" ng-if="exploreSlide.length > 1"></div>
</div>