<div class="explore-detail normal-bg">
    <ul rn-carousel data-slides="0,1,3,4"  rn-carousel-index="carouselIndex" rn-carousel-buffered class="carouselExplore">
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_1_en.png" >
            <p class="p1">
            Cranberries are tiny red berries rich in nutrients.
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">They are an abundant source of Vitamin C and have the highest concentration of essential nutrients amongst fruits and vegetables with innumerable health benefits. Helping to protect the body from damaging effects of free radicals and maintaining good general health.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_2_en.png" >
            <p class="p1">
            Deep sea fish oil originates from the deep sea fish where there is little or no pollution and is extracted as an unsaturated fat from fish.
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">It is perfect for improving eyesight and is beneficial especially for the heart, brain, joints and eyes.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_3_en.png" >
            <p class="p1">
            The evening primrose is regarded as the most important nutraceutical discovery of the century. 
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">It can be used to treat a variety of ailments, regulate blood lipids and has a notable curative effect on coronary infarction, atherosclerosis and cerebral thrombosis, caused by high cholesterol.</p>
                </div>                
            </div>
        </li>
        <li>
            <img width="100%" src="/views/explore/images/explore_detail_4_en.png" >
            <p class="p1">
            The Australian kangaroo is highly regarded for its vigour and fertility. The high quality kangaroo essence is extracted from the adult male Australian kangaroo muscles and genital tissues. 
            </p>
            <div class=grid>
                <div class="wrap">
                    <h3>Did you know</h3>
                    <p class="p2">As a product that has a naturally high content of male hormones as well as its effective toning and Qi restoring properties, kangaroo essence is widely sought after.</p>
                </div>                
            </div>
        </li>
    </ul>
    <div class="custom-indicator"  rn-carousel-indicators ng-if="exploreSlide.length > 1" slides="exploreSlide" rn-carousel-index="carouselIndex"></div>
    <div class="slide_bottom_img" ng-if="exploreSlide.length > 1"></div>
</div>