@import "../../public/sassCore/base";
@import "../../public/sassCore/function";
$img_path:"../../views/explore/images";
@include animate-fadeInUpBig;
.explore{
  color: #434343;
  .scroll-wrap{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    h3{
      font-size: pxToRem(36);
      padding-top: pxToRem(290);
      text-align: center;
      font-weight: bold;
    }
    p{
      text-align: center;
      font-size: pxToRem(30);
      line-height: pxToRem(48);
      margin-top: pxToRem(70);
    }
    ul{
      display: block;
      margin-top: pxToRem(125);
      padding-bottom: pxToRem(255);
      background-color: #FFFFFF;
      li{
        &:after{
          content: "";
          width: 86%;
          height: 2px;
          background-color: #dfdfdf;
          display: block;
          margin: 0 auto;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}
.explore-detail{
  @include box-sizing(border-box);
  padding-top: pxToRem(140);
  color: #434343;
  .carouselExplore{
    width: 100%;
    height: 100%;
    display: block;
    li{
      p,grid{
        width: pxToRem(610);
        margin:0 auto;
        text-align: left;
      }
      .p1{
        font-size: pxToRem(26);
        line-height: pxToRem(40);
        margin-top: pxToRem(40);
        color: #434343;
      }
      .grid{
        position: absolute;
        bottom: pxToRem(80);
        left: 50%;
        border:2px solid #bebebe;
        @include box-sizing(border-box);
        @include transform(translateX(-50%));
        padding:pxToRem(8);
        color: #636363;
        .wrap{
          border:2px solid #e9e9e9;
          @include box-sizing(border-box);
          padding:pxToRem(15) pxToRem(20) pxToRem(30);
          min-height: pxToRem(235); 
          h3{ 
            font-size: pxToRem(30);
            font-weight: bold;
            &:after{
              content:"?";
              display: inline-block;
              width: pxToRem(38);
              height: pxToRem(38);
              line-height: pxToRem(38);
              vertical-align: top;
              background-color:#636363;
              margin: pxToRem(10) 0 0 pxToRem(18);
              text-align: center;
              color: #FFFFFF;
              @include border-radius(50%);
            }
          }
          p{
            line-height: pxToRem(30);
            font-size: pxToRem(20);
          } 
        }
      }
    }
  }
  .custom-indicator{
    width: 100%;
    height: pxToRem(20);
    text-align: center;
    position: absolute;
    bottom: pxToRem(50);
    text-align: center;    
  }
  div.rn-carousel-indicator span{
    color: #dfdfdf;
    display: inline-block;
    font-size: pxToRem(25);
    margin:0 pxToRem(10);
  }
  div.rn-carousel-indicator span.active{
    color: #c30d23;
  }
}