<div class="explore normal-bg">
    <div class="scroll-wrap">
        <h3>D&X Exploring Nature</h3>
        <!--<p>D&X品牌拥有全球研发精英团队，<br />
            其领头人是享誉澳洲的Nadine Baker博士</p>-->
        <ul class="fadeInUpBig">
            <li>
                <a href="/index_en.html#/explore_detail_en?index=0">
                    <img src="/views/explore/images/explore-01_en.jpg" />
                </a>
            </li>
            <li>
                <a href="/index_en.html#/explore_detail_en?index=1">
                    <img src="/views/explore/images/explore-02_en.jpg" />
                </a>
            </li>
            <li>
                <a href="/index_en.html#/explore_detail_en?index=2">
                    <img src="/views/explore/images/explore-03_en.jpg" />
                </a>
            </li>
            <li>
                <a href="/index_en.html#/explore_detail_en?index=3">
                    <img src="/views/explore/images/explore-04_en.jpg" />
                </a>
            </li>
        </ul>
    </div>
</div>