<div class="explore normal-bg">
    <div class="scroll-wrap">
        <h3>D&X探秘自然之旅</h3>
        <p>D&X品牌拥有全球研发精英团队，<br />
            其领头人是享誉澳洲的Nadine Baker博士</p>
        <ul class="fadeInUpBig">
            <li>
                <a href="/#/explore_detail?index=0">
                    <img src="/views/explore/images/explore-01.jpg" />
                </a>
            </li>
            <li>
                <a href="/#/explore_detail?index=1">
                    <img src="/views/explore/images/explore-02.jpg" />
                </a>
            </li>
            <li>
                <a href="/#/explore_detail?index=2">
                    <img src="/views/explore/images/explore-03.jpg" />
                </a>
            </li>
            <li>
                <a href="/#/explore_detail?index=3">
                    <img src="/views/explore/images/explore-04.jpg" />
                </a>
            </li>
        </ul>
    </div>
</div>